.groupe {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8E7AF;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.groupe .image {
    margin-right: 15%;
}



.ajout {
    position: absolute;
    bottom: 12%;
    right: 10%;
    border: none;
    background: #ffffff;
}