.headerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeScanner {
    display: flex;
    position: absolute;
    top: 1%;
    left: 2%;
    
}

.logo {
    
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}