.codeScanner {

    display: flex;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 5%;
}